.main-page{
    width: 100%;
    .page{ height: 100vh }
    .admin-inputs{
        display: flex;
        margin-top: 20px;
        margin-left: 20px;
        .description-lable{
            font-size: 16px;
            font-weight: 500;
        }
        .description-input{
            margin-left: 15px;
        }
        .add-work-type-btn{
            margin-left: 20px;
        }
    }
    .bolt-header-no-spacing-defined {
        padding-left: 20px;
        padding-top: 16px;
        padding-right: 20px;
        padding-bottom: 16px;
    }
    .admin-icon{
        font-size: 30px;
        color: #545ffb;
    }
    .admin-checkbox{
        margin-left: 15px;
        margin-top: 10px;
    }
    
}
.admin-work-type-list{
    margin-top: 30px;
}

.trash-icon{
    color: rgb(255, 66, 66);
    font-size: 20px;
    cursor: pointer;
    margin: 10px 0;
    line-height: 0;
}

.bolt-dialog-callout-content {
    margin: 16px;
    border-radius: 6px;
    overflow: hidden;
    width: 625px;
    height: 501px;
}

.team-lable{
    height: 30px;
}
.react-datepicker-wrapper {
    display: inline-block;
    padding: 0;
    border: 0;
    height: 30px;
}
.date-picker-excel{
    display: flex; justify-content: center; flex-wrap: nowrap;
    margin-top: 15px;
    .team-lable{ margin-left: 15px;}
}
