@import "node_modules/azure-devops-ui/Core/_platformCommon.scss";

.time-log-main{
    width: 100%;
    .time-input {
      margin-top: 15px;
      display: flex;  
      height: 30px;
      margin-left: 25px;
      width: 60%;
      .input-hours,
      .input-mins {
        margin-left: 5px;
        width: 50px;
      }
    
      label {
        font-size: 15px;
        font-weight: 500;
        margin-left: 13px;
      }
    }
    .header-title {
      height: 500px;
      width: 100%;
      max-height: 43px;
      padding-bottom: 15px;
      color: #be9201;
      font-size: 29px;
  }

  .bolt-textfield-input {
      border: none;
      outline: none;
      background-color: inherit;
      padding: 5px 11px;
      resize: none;
      width: 50px;
      height: 20px;
  }  

  .react-datepicker-popper {
    padding-top: 25px;
  }

  .clock-icon{
    font-size: 37px;
    color: #be9201;
  }

  .task-dropdown{
    width: 160px;
    margin-left: 5px;
    .bolt-textfield{
      width: 160px;
    }
  }
  .date-picker-input{
    height: 22px;
    margin-left: 5px;
    width: 180px;
  }
  .bolt-textfield{
    height: 22px;
  }
  .comment-input {
    margin-left: 5px;
    width: 130px;
  }
  .add-time-log-btn{
    height: 23px;
    margin-left: 10px;
    background-color: #e3e3e3;
  }
  .time-logs-list{
    margin-top: 20px;
  }
  .spinner{
    margin-top: 10px;
  }
}

.trash-icon{
  color: rgb(255, 66, 66);
  font-size: 20px;
  cursor: pointer;
  margin: 10px 0;
  line-height: 0;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.pagination button {
  background-color: #f1f1f1;
  color: rgb(27, 27, 27);
  border: none;
  padding: 5px 10px;
  margin: 0 5px;
  cursor: pointer;
  border-radius: 5px;
}

.pagination button:hover {
  background-color: #d6d6d6;
}

.pagination button.active {
  background-color: #d6d6d6;
}

  
  
  