@import "node_modules/azure-devops-ui/Core/_platformCommon.scss";

.main-page{
    width: 100%;
    .page{
        height: 100vh;
    }
    .header-title{
        margin-top: 10px;
    }
    .bolt-header-no-spacing-defined {
        padding-left: 20px;
        padding-top: 16px;
        padding-right: 20px;
        padding-bottom: 16px;
    }
}
.summary-icon{
    font-size: 22px;
    color: #efb917;
}
.summary-filter{
    .team-details{
        display: flex;
        margin-top: 20px;
        .team-lable{            
            font-size: 15px;
            font-weight: 500;
            margin-left: 22px;
        }
        .team-dropdown{
            width: 148px;
            margin-left: 5px;
        }
        .date-picker-input{
            height: 32px;
            margin-left: 5px;
            width: 130px;
        }
        .summary-search{
            margin-left: 15px;
        }
    }
}
